* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

body{
    font-family: "NanumSquare";
    background-color: #232839;
    color: white;
}

div {
    position: relative;
}

#title {
    font-weight: 800;
    margin: 10px;
}

#top {
    height: 50px;
    margin-top: 15px;
}
#avg_box {
    height: 24px;
    width: 110px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -55px;
    margin-top: -12px;

    font-size: 20px;
    font-weight: 700;
}

#avg_score {
    font-weight: 900;
}

#avg_box > p{
    position: relative;
    text-align: center;
    display: inline;
    width:100%
}

#bottom {
    height: 50px;
    margin: 20px 15px 50px 15px;
    padding: 0px;
    border-radius: 10px;
    background-color: white;
}

#refresh {
    width: 100%;
    height: 50px;

    border: none;
    border-radius: 10px;

    color: #232839;
    font-size: 25px;
    font-weight: bold;
}